

.ObsessionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;


}

.ObsessionItem {
  align-self: bottom;
  flex-grow: 2;
}

.ObsessionLabel {
  text-decoration: underline;
  flex-grow: 1;
}
