/* .MainFocus-HeadDiv {
  justify-content: center;
  display: flex;
  vertical-align: middle;
  flex-grow: 1;
}

.MainFocus-Form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  vertical-align: middle;
  max-width: 100%;
}

.MainFocus-div {
  max-width: 1000px;
  display: flex;
  flex-direction: row;
}

.MainFocus-TextArea {
  /* width: 80%; */
/* }

.MainFocus-SubmitButton {
  padding-left: 4em;
}

.MainFocus-Display {
  max-width: 502px;
  box-sizing: border-box; */
/* } */

.MainFocus-Form {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  height: 50vh;
  justify-content: center;
}
.MainFocus-TextArea {
  width: 50%;
}

.MainFocus-SubmitButton {
  margin-left: 10px;
  margin-top: 4px;

}

.MainFocus-Header {
  flex-grow: 1;
  /* margin-top: 5px; */
  padding-top: 10px;
  text-decoration: underline;
}

.MainFocus-Div {
  flex-grow: 4;
}

.MainFocus-DisplayDiv {

  display: flex;
  width: 100%;
  justify-content: center;
   padding-left: 25%;
  padding-right: 25%;
}

.MainFocus-Display {
  flex-grow: 3;
  text-align: center;
  align-self: center;
}
