.App {
  text-align: center;
   height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
  border-radius: 25px;
}

.App-header {
  background-color: #EF6953;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;

}

.App-intro {
  font-size: large;
}
.App-Children {
  display:flex;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*
Watermelon Color Scheme:
#B8B42D
#697A21
#EF6953
#FFFCE8
#3E363F
*/

/*
Fall/EarlyWinter Theme
#B8B42D
#697A21
#46351D
#646F4B
#839D9A

*/
